@font-face
  font-family: 'Heebo'
  src: url('/Heebo-Regular.eot')
  src: url('/Heebo-Regular.eot?#iefix') format('embedded-opentype')
  src: url('/Heebo-Regular.otf') format('opentype')
  src: url('/Heebo-Regular.svg') format('svg')
  src: url('/Heebo-Regular.ttf') format('truetype')
  src: url('/Heebo-Regular.woff') format('woff')
  src: url('/Heebo-Regular.woff2') format('woff2')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Heebo'
  src: url('/Heebo-Bold.eot')
  src: url('/Heebo-Bold.eot?#iefix') format('embedded-opentype')
  src: url('/Heebo-Bold.otf') format('opentype')
  src: url('/Heebo-Bold.svg') format('svg')
  src: url('/Heebo-Bold.ttf') format('truetype')
  src: url('/Heebo-Bold.woff') format('woff')
  src: url('/Heebo-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Heebo'
  src: url('/Heebo-Black.eot')
  src: url('/Heebo-Black.eot?#iefix') format('embedded-opentype')
  src: url('/Heebo-Black.otf') format('opentype')
  src: url('/Heebo-Black.svg') format('svg')
  src: url('/Heebo-Black.ttf') format('truetype')
  src: url('/Heebo-Black.woff') format('woff')
  src: url('/Heebo-Black.woff2') format('woff2')
  font-weight: 900
  font-style: normal

body
  font-family: "Heebo", sans-serif

button
  font-family: "Heebo", sans-serif
