article.products__single-product
  div.product__photo
    img(src="./img1.jpg")
    div.product__price $99.00
  div.product__description
    h1 Soloma
    h2 A burlap tote bag with hand-burnished leather handles
