article.products__single-product
  div.product__inner
    div.product__photo
      img(src="./img1.jpg")
    div.product__description
      h1 Product name
      h2 Product description
      h1 Product description
      h4 Product description
      h2 Product description